@font-face {
  font-family: manrope;
  src: url('ManropeMedium.ttf') format('truetype');
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #9dd1f1;
}
#hello {
  text-align: center;
  font-family: manrope;
  font-size: 100px;
  color: #094972;
  margin-top: 40px;
}
#name_wrapper {
  font-family: manrope;
  align-items: center;
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  /*background-color: cadetblue;*/
  padding: 0px 40px 0px;
  margin-top: 40px;
}
#name_wrapper div {
  overflow: hidden;
  margin: 10px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  flex: 0 1 400px;
  background-color: #eff5fb;
  border-radius: 6px;
  height: 50px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: 0.3s;
}
#name_wrapper div:hover {
  background-color: #82c4ed;
  box-shadow: 0 3px rgba(5, 11, 15, 0.4);
}
#vidSelect {
  width: 100%;
  height: 70vh;
}
#player {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  font-family: Manrope;
  /*background-color: #227209;*/
  color: #ff4733;
  font-size: 80px;
}
video {
  width: 1000px;
}
nav {
  position: fixed;
  bottom: 0;
  background-color: #094972;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 3rem;
  transition: 0.5s;
  overflow: hidden;
}
nav a {
  color: azure;
  margin: 20px;
  font-family: Manrope;
  text-decoration: none;
}
nav > div {
  /*background-color: #ff4733;*/
  width: 85%;
  height: 50px;
  display: flex;
  align-items: center;
}
/*
  .break {
    flex-basis: 100%;
    height: 0;
  }
  */
#toggle {
  color: #88b4d3;
  font-size: 30px;
  transition: 0.4s;
}
#settingLinks {
  margin-left: auto;
  margin-right: 0;
}
#toggle:hover {
  color: cornsilk;
}
